h1, h2, h3, h4, h5, h6 {
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-audiowide), system-ui;
}

span, p, li, td, q, sub, button, input, div {
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-outfit), system-ui !important;
}

.chip {
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-outfit), system-ui !important;
}

:is(div).responsive {
    max-inline-size: min(100vw, 75rem);
    margin: 0 auto;
    padding: 8px
}

::view-transition-group(toolbar), ::view-transition-group(back), ::view-transition-group(decks), ::view-transition-group(pricing-button), ::view-transition-group(info-icon), ::view-transition-group(inner-toolbar), ::view-transition-group(header) {
    z-index: 1;
}