.card-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

@media (max-width: 600px) {
    .card-art {
        height: 20rem;
        object-position: top;
    }
}

.vg-card {
    width: 100%;
    border-radius: 0;
}

.clickable-img {
    cursor: pointer;
}

.two-rounded-corners {
    border-radius: 2rem 0 2rem 0 !important;
}

.tinier-space {
    gap: 4px !important;
}

body:has(:popover-open) *:is(.responsive) {
    pointer-events: none;
}

.card-preview-dialog {
    pointer-events: all;
}