---
import {REPO_NAME} from "../consts.ts";
import {ModeToggle} from "./ModeToggle.tsx";
const currentPath = Astro.url.pathname.split('/').at(2);
---
<header class="surface-container" style="z-index: 99999; position: sticky; top: 0">
    <nav>
        <h6 class="max primary-text"><a href={`/${REPO_NAME}`}> VG Ridelines</a></h6>
        <a href={`/${REPO_NAME}/decks`}>
            <button class={(currentPath === 'decks' || currentPath === 'prices') ? 'primary' : 'border'}>
                <i>playing_cards</i>
                Decks
            </button>
        </a>
        <ModeToggle client:only="react"/>
    </nav>
</header>
