---
import {REPO_NAME} from "../consts.ts";
import TierTable from "./TierTable.astro";
const path = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const matched = path.match(/[^\/]+/g)

function switchView() {
    if (matched?.at(0) === 'decks' && matched.length === 3) {
        return `/${[REPO_NAME, ...matched, 'pricing'].join('/')}`
    } else if (matched?.at(0) === 'decks' && matched.includes('pricing')) {
        return `/${[REPO_NAME, ...matched.slice(0, -1)].join('/')}`
    } else if (matched?.length === 1 && matched.at(0) === 'decks') {
        return `/${REPO_NAME}/prices`
    } else {
        return `/${REPO_NAME}/decks`
    }
}
---
<!--TODO Fix popover clicking other cards-->
<dialog id="disclaimer-popover" popover>
    <h1>Pricing Guide</h1>
    <p>This page documents the pricing of the ridelines that I have pages for. Eventually this would document every rideline and boss unit in the game, but I will likely need volunteers to submit and update decklists as decks get upgrades.</p>
    <h2>Pricing Tiers</h2>
    <TierTable />
</dialog>
{(matched?.includes('prices') || matched?.includes('pricing')) && <button class="square round tertiary extra" popovertarget="disclaimer-popover">
    <i>info</i>
</button>}
<a href={switchView()} transition:name="price-toggler" style="display: contents">
    <button class="square round extra extend">
        <i>{matched?.includes('prices') || matched?.includes('pricing') ? "playing_cards" : "price_check"}</i>
        <span>{matched?.includes('prices') || matched?.includes('pricing') ? "Decks" : "Prices"}</span>
    </button>
</a>
