---
import ClientRouter from 'astro/components/ClientRouter.astro';
import {SITE_DESCRIPTION, SITE_TITLE} from '../consts.ts';
import BaseHead from '../components/BaseHead.astro';
import Navigation from "../components/Navigation.astro";
import Footer from '../components/Footer.astro';
import {Font} from "astro:assets";
import '../styles/global.css';
import PriceSwitch from '../components/PriceSwitch.astro';

const props = Astro.props;
const nation = props.nation
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE + " - " + props.title} description={SITE_DESCRIPTION}/>
    <Font cssVariable='--font-outfit'/>
    <Font cssVariable='--font-audiowide'/>
    <meta charset="UTF-8">
    <link href="/src/styles/showcase.css" rel="stylesheet" type="text/css"/>
    <!--TODO Update BeerCSS-->
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.12.13/dist/cdn/beer.min.css" rel="stylesheet"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.12.13/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <script type="module" data-astro-rerun define:vars={{nation}}>
        // For some reason a direct import would not work here, so we're importing in head
        switch (nation) {
            case "Brandt Gate":
                ui("theme", "#abb3bf");
                break;
            case "Dragon Empire":
                ui("theme", "#c50017")
                break;
            case "Dark States":
                ui("theme", "#062c88")
                break;
            case "Stoicheia":
                ui("theme", "#007c36");
                break;
            case "Lyrical Monasterio":
                ui("theme", "#eb6c99");
                break;
            case "Keter Sanctuary":
                ui("theme", "#fcc600");
                break;
            default:
                ui("theme", "#039fec");
                break;
        }
    </script>
    <ClientRouter/>
</head>
<body>
<Navigation/>
<slot/>
<div style="position:fixed; right: 1rem; bottom: 1rem;z-index: 10">
    <PriceSwitch/>
</div>
<Footer/>
</body>
</html>
